a.get-started {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    position: sticky;
    bottom: 2rem;
    z-index: 5;
    transform: translateX(calc(50vw - 50%));
    font-family: cursive, fantasy, "Segoe UI", Tahoma, Geneva, Verdana,
        sans-serif;
    padding: 0.5rem 1.5rem;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 1.3rem;
    background-image: linear-gradient(30deg, var(--c1), var(--c2));
    border: none;
    border-radius: 1.5rem;
    box-shadow: 0px 0px 10px 5px rgb(91, 217, 255);
    outline: blue 1px solid;
    /* display: flex; */
    max-width: 95vw;
    text-align: center;
    z-index: 50;
    /* animation: bg-loop 1s ease  infinite  ; */
    /* transition: all ease 3s; */
}
a.get-started:hover,
a.get-started:focus-visible {
    outline-offset: 4px;
    outline-width: 2px;
    transition: outline-offset ease 200ms;
}
