@tailwind utilities;

body {
	font-family: monospace;
}
div#get-started {
    margin-top: var(--h-header);
    width: fit-content;
    margin-inline: auto;
    width: min(40rem, 98%);
    margin-bottom: 3rem;
    box-shadow: 4px 4px 5px 2px black, -2px -2px 8px 2px gray;
}
div.image-container {
    width: min(40rem, 100%);
    height: min(80vh, 24rem);
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    display: flex;
    /* display: none; */
    flex-direction: column;
    justify-content: space-between;
}
div.image-container img {
    /* width:min(20rem, 100%); */
    /* height:min(80vh , 24rem); */
    flex-grow: 1;
    /* max-width: 100%; */
    /* max-height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    object-position: center;
    /* max-width: 20rem; */
    /* max-height: 24rem; */
    overflow: hidden;
    object-fit: contain;
}
div.image-container img.preview {
    flex-grow: 0;
    height: 2rem;
    width: auto;
}
form#image-form{
    margin-top: auto;

}